<main>
    <section class="container" id="burger-ingredient">
        <header class="ingredient">
            <h1 style="font-family: cursive;">Welcome to Pizza Burger Spot</h1>
            <p class="lead" style="font-style: italic;font-family: cursive;">Best Burgers and Pizzas in the biz!</p>
            <p class="lead" style="font-style: italic;font-family: cursive;">Come and visti us!</p>
        </header>
        <div class="no-ingredients">
            <img src="/assets/pictures/main/404missin.png"/>
            <p class="lead" style="font-size: 18px;font-family: cursive;">Page not found - please try again later... or got to 
                <a routerLink="/" style="font-size: 18px;font-family: cursive;">Home</a>
                !
            </p>
        </div>
    </section>
</main>