<main>
    <section class="py-5 details" id="burger-ingredient-details-page">
        <div class="container">
            <p class="line"></p>
            <div class="buddies-info">
                <i class="fas fa-users buddies"></i>
                <h5>Shared trip Buddies</h5>
                <div>                  
                </div>
                <h5>Driver: <span></span> </h5>
            </div>
            <p class="line"></p>
            <h5 class="brand">Car Brand: <span class="lead"></span></h5>
            <div class="trip-info">
                <div>
                    <img class="img-fluid rounded"
                        src={{burgerIngredient?.picture}}
                        alt="car-image">
                </div>
                <div class="trip-desc">
                    <h5>Information about the trip</h5>
                    <textarea class="lead"
                        disabled></textarea>
                    <h5>Price: <span class="lead"></span> BGN</h5>
                </div>
            </div>
        </div>
    </section>
</main>