<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a routerLink="/">
            <img class="car logo" src="/assets/pictures/main/animepizza.png" alt="pizza-logo">
            <img class="logo" src="/assets/pictures/main/animeburger.png" alt="burger-logo">
        </a>
        <div class="collapse navbar-collapse" id="navbarResponsive" style="font-size: 18px;font-family: cursive;">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/pizzas">Pizzas</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" routerLink="/pizzas/pizzaIngredient">Pizza Ingredients</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" routerLink="/burgers">Burgers</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" routerLink="/burgers/burgerIngredient">Burger Ingredients</a>
                </li> -->
                <ng-container *ngIf="!isLoggedIn; else loggedInTemplate">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/auth/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/auth/register">Register</a>
                    </li>
                </ng-container>
                <ng-template #loggedInTemplate>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/auth/profile">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/auth/logout">Logout</a>
                    </li>
                </ng-template>
            </ul>
        </div>
    </div>
</nav>