<main>
    <section id="home-page" class="py-5">
        <div style="height: 15vh;"></div>
        <div class="container home">
            <h1 style="font-style: italic;font-family: cursive;">ABOUT</h1>
            <div>
                <p style="font-style: italic;font-family: cursive;"> Small Angular Client Project.</p>
                <p style="font-style: italic;font-family: cursive;"> JS Back-End API Service for the Angular Client.</p>
                <p style="font-style: italic;font-family: cursive;"> ...</p>
                <p style="font-style: italic;font-family: cursive;"> Functionality:</p>
                <p style="font-style: italic;font-family: cursive;"> -Login.</p>
                <p style="font-style: italic;font-family: cursive;"> -Register.</p>
                <p style="font-style: italic;font-family: cursive;"> -Profile Page with own Burgers/Pizzas.</p>
                <p style="font-style: italic;font-family: cursive;"> -Create Manage and View Burgers.</p>
                <p style="font-style: italic;font-family: cursive;"> -Create Manage and View Pizzas.</p>
                <p style="font-style: italic;font-family: cursive;"> -Check Burger Ingredients.</p>
                <p style="font-style: italic;font-family: cursive;"> -Check Pizza Ingredients.</p>
                <p style="font-style: italic;font-family: cursive;"> -Home, About & Contacts</p>
                <p style="font-style: italic;font-family: cursive;"> -Other</p>
                <p style="font-style: italic;font-family: cursive;"> ...</p>
                <p style="font-style: italic;font-family: cursive;"> More Functionality to come soon...</p>
                <p style="font-style: italic;font-family: cursive;"> Thanks</p>
                <!-- <p style="font-style: italic;font-family: cursive;"> Small Project</p> -->
                <!-- <p style="font-style: italic;font-family: cursive;"> Small Project</p>
                <p style="font-style: italic;font-family: cursive;"> Small Project</p>
                <p style="font-style: italic;font-family: cursive;"> Small Project</p> -->
            </div>
        </div>
    </section>
</main>
