<main>
    <section class="py-5" id="register-page">
        <div class="container register-page">
            <h1 style="font-family: cursive;">
                <h1 style="font-family: cursive; color: gold; text-decoration: underline;">Pizza & Burger Spot</h1>
                <p class="lead" style="font-style: italic;font-family: cursive;">Create a Pizza here!</p>
                <p> </p>
                <p class="line"></p>
            </h1>
            <div class="register">
                <form #form="ngForm" (ngSubmit)="createPizzaHandler(form)">
                    <ng-container *ngIf="errorMsg">
                        <div class="form-group">
                            <ng-container>{{removeMsg()}}</ng-container>
                            <label for="error" style="color: red;">{{msg}}</label>
                            <!-- <input type="text"  class="form-control" value=""> -->
                        </div>
                    </ng-container>
                    <div class="form-group">
                        <label for="name">Pizza Name</label>
                        <input type="text" #nameInput="ngModel" ngModel required minlength="3" class="form-control" id="name" placeholder="Pizza Name" name="name"
                            value=""
                            [class.errorred]="nameInput.touched && !nameInput.valid">
                    </div>
                    <ng-container *ngIf="nameInput.touched">
                        <ng-container *ngIf="nameInput?.errors?.['required']">
                            <div class="form-group">
                                <label for="error" style="color: red;">Pizza name is required!</label>
                                <!-- <input type="text"  class="form-control" value=""> -->
                            </div>
                        </ng-container>
                        <ng-container *ngIf="nameInput?.errors?.['minlength']">
                            <div class="form-group">
                                <label for="error" style="color: red;">Pizza name must be at least 3 characters!</label>
                                <!-- <input type="text"  class="form-control" value=""> -->
                            </div>
                        </ng-container>
                    </ng-container>
                    <div class="form-group">
                        <label for="weight">Pizza Weight</label>
                        <input type="number" #weightInput="ngModel" ngModel required min="5" class="form-control" id="weight" placeholder="Pizza Weight" name="weight"
                            value=""
                            [class.errorred]="weightInput.touched && !weightInput.valid">
                    </div>
                    <ng-container *ngIf="weightInput.touched">
                        <ng-container *ngIf="weightInput?.errors?.['required']">
                            <div class="form-group">
                                <label for="error" style="color: red;">Pizza weight is required!</label>
                                <!-- <input type="text"  class="form-control" value=""> -->
                            </div>
                        </ng-container>
                        <ng-container *ngIf="weightInput?.errors?.['min']">
                            <div class="form-group">
                                <label for="error" style="color: red;">Pizza weight must be at least 5 grams!</label>
                                <!-- <input type="text"  class="form-control" value=""> -->
                            </div>
                        </ng-container>
                    </ng-container>
                    <div class="form-group">
                        <label for="description">Pizza Description</label>
                        <input type="text" #descriptionInput="ngModel" ngModel required minlength="3" class="form-control" id="description" placeholder="Pizza Description" name="description"
                            value=""
                            [class.errorred]="descriptionInput.touched && !descriptionInput.valid">
                    </div>
                    <ng-container *ngIf="descriptionInput.touched">
                        <ng-container *ngIf="descriptionInput?.errors?.['required']">
                            <div class="form-group">
                                <label for="error" style="color: red;">Pizza description is required!</label>
                                <!-- <input type="text"  class="form-control" value=""> -->
                            </div>
                        </ng-container>
                        <ng-container *ngIf="descriptionInput?.errors?.['minlength']">
                            <div class="form-group">
                                <label for="error" style="color: red;">Pizza description must be at least 3 characters!</label>
                                <!-- <input type="text"  class="form-control" value=""> -->
                            </div>
                        </ng-container>
                    </ng-container>
                    <label>Dough</label>
                    <div class="ingredientsbuild">
                        <div>
                            <input type="radio" #traditionaldoughInput="ngModel" ngModel id="traditionaldough" name="dough" value="Traditional Dough">
                            <label for="traditionaldough">Traditional Dough</label>
                            <input type="radio" #italianstyleInput="ngModel" ngModel id="italianstyle" name="dough" value="Italian Style">
                            <label for="italianstyle">Italian Style</label>    
                        </div>
                        <div>
                            <input type="radio" #thincruststyleInput="ngModel" ngModel id="thincruststyle" name="dough" value="Thin Crust Style">
                            <label for="thincruststyle">Thin Crust Style</label>
                        </div>
                    </div>
                    <label>Sauce</label>
                    <div class="ingredientsbuild">
                        <div>
                            <input type="checkbox" #tomatosauceInput="ngModel" ngModel id="tomatosauce" name="tomatosauce">
                            <label for="tomatosauce">Tomato Sauce</label>
                            <input type="checkbox" #ketchupInput="ngModel" ngModel id="ketchup" name="ketchup">
                            <label for="ketchup">Ketchup</label>    
                        </div>
                        <div>
                            <input type="checkbox" #sourcreamInput="ngModel" ngModel id="sourcream" name="sourcream">
                            <label for="sourcream">Sour Cream</label> 
                        </div>
                    </div>
                    <label>Cheese</label>
                    <div class="ingredientsbuild">
                        <div>
                            <input type="checkbox" #ementalInput="ngModel" ngModel id="emental" name="emental">
                            <label for="emental">Emental</label>
                            <input type="checkbox" #mozzarellaInput="ngModel" ngModel id="mozzarella" name="mozzarella">
                            <label for="mozzarella">Mozzarella</label>    
                        </div>
                        <div>
                            <input type="checkbox" #smokedcheeseInput="ngModel" ngModel id="smokedcheese" name="smokedcheese">
                            <label for="smokedcheese">Smoked Cheese</label> 
                        </div>
                    </div>
                    <label>Meat</label>
                    <div class="ingredientsbuild">
                        <div>
                            <input type="checkbox" #pepperpniInput="ngModel" ngModel id="pepperoni" name="pepperoni">
                            <label for="pepperoni">Pepperoni</label>
                            <input type="checkbox" #chickenInput="ngModel" ngModel id="chicken" name="chicken">
                            <label for="chicken">Chicken</label>    
                        </div>
                        <div>
                            <input type="checkbox" #smokedhamInput="ngModel" ngModel id="smokedham" name="smokedham">
                            <label for="smokedham">Smoked Ham</label> 
                            <input type="checkbox" #smokedbaconInput="ngModel" ngModel id="smokedbacon" name="smokedbacon">
                            <label for="smokedbacon">Smoked Bacon</label>
                        </div>
                    </div>
                    <label>Vegetables</label>
                    <div class="ingredientsbuild">
                        <div>
                            <input type="checkbox" #tomatoesInput="ngModel" ngModel id="tomatoes" name="tomatoes">
                            <label for="tomatoes">Tomatoes</label>
                            <input type="checkbox" #mushroomsInput="ngModel" ngModel id="mushrooms" name="mushrooms">
                            <label for="mushrooms">Mushrooms</label>    
                        </div>
                        <div>
                            <input type="checkbox" #picklesInput="ngModel" ngModel id="pickles" name="pickles">
                            <label for="pickles">Pickles</label>
                            <input type="checkbox" #cornInput="ngModel" ngModel id="corn" name="corn">
                            <label for="corn">Corn</label>    
                        </div>
                        <div>
                            <input type="checkbox" #greenpepperInput="ngModel" ngModel id="greenpeppers" name="greenpeppers">
                            <label for="greenpeppers">Green Peppers</label>
                            <input type="checkbox" #onionsInput="ngModel" ngModel id="onions" name="onions">
                            <label for="onions">Onions</label>    
                        </div>
                        <div>
                            <input type="checkbox" #olivesInput="ngModel" ngModel id="olives" name="olives">
                            <label for="olives">Olives</label> 
                        </div>
                    </div>
                    <label>Condiment</label>
                    <div class="ingredientsbuild">
                        <div>
                            <input type="checkbox" #flakysaltInput="ngModel" ngModel id="flakysalt" name="flakysalt">
                            <label for="flakysalt">Flaky Salt</label>
                            <input type="checkbox" #oreganoInput="ngModel" ngModel id="oregano" name="oregano">
                            <label for="oregano">Oregano</label>    
                        </div>
                        <div>
                            <input type="checkbox" #garlicpowderInput="ngModel" ngModel id="garlicpowder" name="garlicpowder">
                            <label for="garlicpowder">Garlic Powder</label> 
                            <input type="checkbox" #basilInput="ngModel" ngModel id="basil" name="basil">
                            <label for="basil">Basil</label> 
                        </div>
                    </div>
                    <div class="form-group">
                        <p>Go back to burgers...<a routerLink="/pizzas" style="font-size:20px;color:greenyellow;">Here!</a></p>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </section>
</main>