<main>
    <section class="container" id="burgers-main">
        <header class="ingredient">
            <h1 style="font-family: cursive;">
                <a routerLink="/burgers/create">Add Burger</a>
                <!-- |
                <a routerLink="/burgers">Burgers</a>  -->
                | 
                <a routerLink="/burgers/burgerIngredient">Ingredients</a>
            </h1>
            <p class="lead" style="font-style: italic;font-family: cursive;">We make our pizzas with the freshest ingredients out there!</p>
            <p class="lead" style="font-style: italic;font-family: cursive;">Here is a list of products we use in the making of the pizzas!</p>
        </header>
    </section>
</main>
